<a href="https://colab.research.google.com/github/eibarracuda/caderno-pythonCollections/blob/main/Heran%C3%A7a%2C_polimorfismo%2C_e_builtins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Herança e Polimorfismo

<small> 08/02/2023</small>

In [ ]:
class Conta:
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>> Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[>> Codigo 88 Saldo 0<<]

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2
  
class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Codigo 16 Saldo 998<<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>> Codigo 17 Saldo 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()  #duck typing -> orientação a objeto
  print(conta)

[>> Codigo 16 Saldo 998<<]
[>> Codigo 17 Saldo 1007.0<<]

# Array <small>(evitaremos usar)

In [ ]:
import array as array

arr.aray('d', [1, 3.5])

> Armazenar eficientemente valores do tipo declarado

# Numpy

`!pip install numpy` <br>
`import numpy as np`

In [ ]:
import numpy as np
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

***

# Metodo abstrato

In [ ]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>> Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2
  
class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

NameError: ignored

In [ ]:
print(Conta(88))

TypeError: ignored

[02:56] Então, a sacada é: se você tem um método que você quer definir na sua classe mãe e que todo mundo seja forçado a implementar, coloque um @abstractmethod nela, defina ela como uma classe abstrata através da meta classe ABCmeta.

[03:12] Então dessa maneira, forçamos para que o erro apareça na hora que você tem que instanciar, que é muito mais cedo do que o momento que você tenta chamar o método, porque você instancia em algum momento e os métodos só são chamados bem depois, não sabemos quando.

[03:30] Agora, se o erro acontecendo logo que você tentou instanciar, você consegue pegar mais cedo esse erro. Essa é a vantagem, quando eu tente instanciar eu já descobri que a classe não está completa. Então, eu queria refinar esse ponto do nosso código.

# O que aprendemos nesta aula:

- Conceito de herança e polimorfismo;
- Herdar classe;
- O que é o duck typing;
- Fazer um array no Python;
- Fazer anotações.

# Igualdade

<small> 08/02/2023 </small>

Outros objetos com listas

In [ ]:
class ContaSalario: 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def deposita(self, valor):
      self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2

False

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

False

## Definir condição de igualdade `__eq__`

In [ ]:
class ContaSalario: 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
      self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
class ContaSalario: 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def __eq__(self, outro):
    if type(outro) !=ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
      self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaCorrente(): 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def __eq__(self, outro):
    if type(outro) !=ContaCorrente:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
      self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 == conta2

True

In [ ]:
conta1.deposita(10)

In [ ]:
conta1 == conta2

True

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

False

In [ ]:
class ContaMultiploSalario(ContaSalario):
  pass

`ContaSalario`, mas eu posso também ter classes que herdam de `ContaSalario`, por exemplo, a `ContaMultiploSalario` que herda de `ContaSalario`. Eu posso determinar que eu gostaria que, se eu tenho uma conta salário em que código e saldo são os mesmos de uma classe que me herda, é igual. Eu não quero só o igual, não tem que ser a mesma classe, pode ser a mesma classe ou um tipo filho ou filha. Um pouco mais genérico nessa hierarquia de objetos

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

NameError: ignored

O que aprendemos nesta aula:

- Utilizar o `__eq__`;
- Utilizar boas práticas para comparação ;
- Usar o `isinstance` para verificar se uma instância de um objeto;

# Builtins

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
enumerate(idades) # lazy

In [ ]:
list(range(len(idades))) # forçou a geração de valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

> Gerou tuplas pois a posição tem significado

In [ ]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [ ]:
usuarios =[
    ("Marta", 29, 1993),
    ("Eduardo", 33, 1989),
    ("Trator", 6, 2016)
]

for nome, idade, nascimento in usuarios: # desempacotar - legivel, explicito
  print(nome)

Marta
Eduardo
Trator

In [ ]:
for nome, _, _ in usuarios: # desempacotar ignorando o resto
  print(nome)

Marta
Eduardo
Trator

O que aprendemos nesta aula:

-   O que são `enumerated`;
-   Como funciona a função `range`;
-   Desempacotar tuplas;
-   Utilizar a função `len`.

# Ordem natural

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades
idades.sort() # arranja dentro da propria lista, in place
idades

[15, 32, 32, 37, 49, 56, 65, 87]

O que aprendemos nesta aula:

-   Utilizar a função **sorted** para fazer a ordenação sem mudar o conteúdo na lista original;
-   Usar a função **sort** para ordenar atribuindo e mudando a lista original;
-   Utilizar a função **reversed** que inverte os valores de uma lista sem alterar a lista original.

# Ordenação customizada

In [ ]:
15 < 32 # ordem natural

True

In [ ]:
nomes = ["Trator", "Meia", "Bagagem", "tosco"] # ordem natural
sorted(nomes)

['Bagagem', 'Meia', 'Trator', 'tosco']

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor): # assim não quebrou o enclapsulamento, lida com o saldo dentro da função conta
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
sorted(contas)

[<__main__.ContaSalario at 0x7f2e05045460>,
 <__main__.ContaSalario at 0x7f2e05045b50>,
 <__main__.ContaSalario at 0x7f2e05045100>]

In [ ]:
def extrai_saldo(conta):
  return conta._saldo # é ruim acessar valores privados

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
conta_do_guilherme < conta_da_daniela

True

In [ ]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

O que aprendemos nesta aula:

-   O que é ordem natural;
-   Ordenar e comparar objetos;
-   Utilizar o `attrgetter`
-   Usar o `__lt__`: menor que (less than) para comparações;

#  Ordenação completa e functools

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor): 
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [ ]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [ ]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor): # assim não quebrou o enclapsulamento, lida com o saldo dentro da função conta
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme <= conta_da_daniela

True

 o `total_ordering` nos fornece todas as ordenações baseadas em uma ordenação e um critério de igualdade.


O que aprendemos nesta aula:

-   Utilizar vários atributos com o attrgetter;
-   O que é **total_ordering** e functools.