<a href="https://colab.research.google.com/github/eibarracuda/caderno-pythonCollections/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Collections parte 1
## Introdução

<small>08/02/2023</small>

### [Data Structures](https://docs.python.org/3/tutorial/datastructures.html?highlight=data%20structures)

#### Listas

In [3]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1, idade2, idade3, idade4)

39 30 27 18



> Declaração de variaveis uma a uma

In [4]:
idades = [39, 30, 27, 18]
print(idades)

[39, 30, 27, 18]

> Declaração de variaveis em lista

> Posição começa em [0, 1, 2, 3].

#### **type**(*var*)

In [5]:
type(idades)

list

> Tipo da variavel idades? **lista**

#### **len**(*var*)
> quantidade de valores na variavel idades

In [6]:
len(idades)

4

#### Posições na lista

In [7]:
idades[0]

39

> qual a idade na posição 0?

In [8]:
idades

[39, 30, 27, 18]

In [9]:
print(idades[0])
print(idades[1])
print(idades[2])
print(idades[3])

39
30
27
18

> Chamando as posições da nosssa lista individualmente

##### list**.append**(*x*)

In [10]:
idades.append(15)

> Adicionar valor, fica no fundo da lista

In [11]:
print(idades[4])

15

In [12]:
print(idades[5])

IndexError: ignored

> Erro de quando não existe nada na posição que a gente chama

In [13]:
for idade in idades:
  print(idade)

39
30
27
18
15

> A cada idade em da lista idades:

> Imprimir a idade

#### list.**remove**(*x*)

In [14]:
idades.remove(30)

> Remover certo valor da lista

In [15]:
idades

[39, 27, 18, 15]

In [16]:
idades.remove(30)

ValueError: ignored

> quando o valor não está na lista dá ValueError

In [17]:
idades.append(15)

In [18]:
idades

[39, 27, 18, 15, 15]

In [19]:
idades.remove(15)

In [20]:
idades

[39, 27, 18, 15]

In [21]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

O **remove vai apagar a primeira aparição do elemento** da lista

In [22]:
28 in idades

False

In [23]:
15 in idades

True

In [24]:
if 15 in idades:
  idades.remove(15)

In [25]:
idades

[39, 18, 27]

In [26]:
if 28 in idades:
  idades.remove(28)

In [28]:
idades

[39, 18, 27]

> Podemos perguntar se o valor está em idades antes de executar coisas para ele, dessa forma não dá erro

#### list**.insert**(*i,x*)
> insere o item `x` na posição `i`

In [29]:
idades.insert(0,20)
idades

[20, 39, 18, 27]

In [30]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [31]:
idades.append(27, 19)

TypeError: ignored

> `.append()` acrescenta apenas mais 1 valor

In [32]:
idades.append([27, 19])

In [33]:
idades

[20, 39, 18, [27, 19]]

In [34]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

> `append()` acrescentou uma lista dentro da lista

#### list.**extend** ( *[ ]* )

In [36]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

### Trabalhando com valores - *List compreheension*
#### Aplicando filtros e comparações

In [37]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [38]:
idades_no_ano_que_vem = [ ] 
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [39]:
idades_no_ano_que_vem = [(idade+1)for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

> Duas formas diferentes de aplicação de operação em uma mesma sequencia

In [40]:
[(idade)for idade in idades if idade > 21]

[39, 27]

> Filtragens

In [41]:
def proximo_ano(idade):
  return idade+1
[proximo_ano(idade)for idade in idades if idade > 21]

[40, 28]

> Legibilidade do código

### Tuplas

#### Problemas com a mutabilidade da lista

In [46]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [45]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

> a mudança de codigo por diversos desenvolvedores

> usar listas mutaveis pode trazer resultados inesperados

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

> Não é recomendável colocar uma lista como parâmetro `default`, e, sim,`None` e verificar se é `None`, mas isso também se estende para outros objetos que você pode usar como parâmetro de valor opcional, que é mutável. Portanto, é sempre bom ter esse cuidado, listas e objetos que são mutáveis.

### O que aprendemos nesta aula:



*   O que é coleção;
*   Criar lista;
*   Verificar o tipo da lista e o tamanho da lista;
*   Mostrar na tela o valor conforme sua posição na lista;
*   Alterar valores que estão dentro da lista;
*   Adicionar valores no final da lista;
*   Percorrer a lista;
*   Remover elemento da lista;
*   Remover todos elementos da lista;
*   Verificar se o elemento está dentro da lista;
*   Inserir um elemento na posição que desejamos;
*   Utilizar um list comprehension;
*   Fazer filtragens;
*   Criar uma função e deixar um valor padrão;
*   Quais são os problemas da mutabilidade.